<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
    <title>Login</title>
  </head>
  <body>
      <h2>In Ihren Account anmelden</h2>
      <form method="POST" action="/">
        <p>Kunden-ID</p>
      <input type="text" title="username" name="kundenId"placeholder="Kunden-ID">
      <p>Kennwort</p>
      <input type="password" title="username" name="password" placeholder="Passwort">
      <br>
      <br>
      <br>
      <button>Login</button>
    
      </form>
  </body>
</html>

