h2 { 
    background-color: rgb(48, 187, 20); 
    font-size:30pt; 

}
h2{
    font-weight:bold
}
p {
    
    color: #800040;
    font-size: 34pt;
    font-weight: bold;
}


button {
    background-color: rgb(48, 187, 20);
    border: none;
    color: black;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight:bold
  }
  input[type=text] {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
  }
 
 

  input[type="password"] {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  